<h1>All cocktails</h1>

<p><%= link_to 'add a cocktail', new_cocktail_path %></p>

<% @cocktails.each do |cocktail| %>
  <li>
    <%= cocktail.name %> |
    <%= link_to 'More details', cocktail_path(cocktail) %> |
    <%= link_to 'Delete', cocktail, method: :delete, data: {confirm: 'Are you sure?'} %>
  </li>
<% end %>
